/* MOBILE AND GLOBAL STYLES */

/* applies to screens smaller than 500px (first breakpoint) */
/* and above unless overwritten below */

body {
  margine:0;
  background: #fcc;
}

nav {
  display: none;
  justify-content: center;
  background-color:  #066;
  flex-direction: column;

}

nav a{
  padding: 0.5em;
  text-decoration; none;
  font-family: sans-serif;
  color: white;
}

nav a:hover {
  background-color: : #009;
}

.menu {
  background-color: #033;
  color: white;
  line-height:  2em;
}

/* .menu:hover + nav, nav:hover { */
  nav.open {
  display: flex;
}

/* TABLET STYLES */

@media screen and (min-width: 500px) {

  /* applies to screens wider than 499px */

body {
  background: #cfc;
}

  nav {
    flex-direction: row;
    display: flex;
  }

.menu {
  display: none;
}

  body {
    background: #cfc;
  }
}

/* DESKTOP STYLES */

@media screen and (min-width: 1000px) {

  /* applies to screens wider than 999px */

  body {
    background: #ccf;
  }
}
